body{
   text-align: center;
   background-color: #04151f;
   color: whitesmoke;
}
.container{
   width: 100%;;
    display: flex;
    gap:10px;
    padding: 10px;
    border-bottom: 2px solid black;
 }
.resourceDetail {
    background: gray;
    color:white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px 5px 5px 10px;
    width: 300px;
  }
 .activeDetail {
    background: peru;
    color:white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px 5px 5px 10px;
    width: 300px;
  }

 .billDetail {
    background: hotpink;
    color:white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px 5px 5px 10px;
    width: 300px;
  }
 button{
   background-color:#04151f;
   border-radius: 5px;
   color: white;
   
 }
  
  

 

 